{% extends 'base.html.twig' %}

{% block title %}Homepage{% endblock %}
{% block favicon %}💩{% endblock %}
{% block head %}{% endblock %}

{% block body %}
    <div class="container emp-profile">
        <form method="post">
            <div class="row">
                <div class="col-md-4">

                </div>
                <div class="col-md-6">
                    <div class="profile-head">
                        <h2>
                            💩 <b>Poo</b>Pal <span
                                    style="font-size: medium"> - Welcome back {{ app.user.username }}</span>
                        </h2>
                        <h6>
                            An online banking system
                        </h6>
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item">
                                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#home" role="tab"
                                   aria-controls="home" aria-selected="true">News</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-4">
                    <div class="profile-work">
                        <p>PAGES</p>
                        <a href="{{ path('app_login') }}">Login</a><br/>
                        <a href="{{ path('app_register') }}">Register</a><br/>
                        <a href="{{ path('app_homepage') }}">Homepage</a><br/>
                        <a href="{{ path('app_profile') }}">Profile</a><br/>
                        <a href="{{ path('app_sendmoney') }}">Send Money</a><br/>
                        <a href="{{ path('app_api_tests') }}">Api stuff</a><br/>
                        <a href="{{ path('app_logout') }}">Logout</a>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="tab-content profile-tab" id="myTabContent">
                        <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">
                            {% for value in hacker %}
                                <div class="row">
                                    <div class="col-md-4">
                                        <label>{{ value.type|capitalize }} - Score: {{ value.score }}</label>
                                    </div>
                                    <div class="col-md-6">
                                        <p><a href="{{ value.url }}">{{ value.title }}</a> on {{ value.time|localizeddate('long', 'short') }}</p>
                                    </div>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </div>
    </form>
    </div>
{% endblock %}
